  * {
      padding: 0;
      margin: 0;
      list-style: none;
      text-decoration: none;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
  }

  .content-area {
      /* Header 70px bo'lgani uchun paddingni 80px qilamiz */
      padding-top: 80px;

      /* BottomNav 75px bo'lgani uchun paddingni 90px qilamiz */
      padding-bottom: 90px;

      padding-left: 15px;
      padding-right: 15px;
      min-height: 100vh;
      box-sizing: border-box;
      /* Padding kenglikka ta'sir qilmasligi uchun */
  }